# dependencies (bun install)
node_modules
bun.lockb

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*

# dotenv environment variable files
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode
.zed

# OS files
.DS_Store
Thumbs.db

# Database (Postgres data is in volume, keep local db junk out)
*.sqlite
*.db
*.db-journal

# Project specific
.gemini
assets/
